<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Judd</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <style></style>
  <body>
    {% include "head.njk" %}
    <div class="home_main_wrapper">
      <main class="home_main">
        <h1>Hey it's Andrew.</h1>
        <p class="lg_txt">Check out what I've have built
        </p>
        <p>Not much to see here yet.</p>
      </main>
    </div>
  </body>
</html>