<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Judd</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <style>
    .home_main {
      padding: 0 20px;
    }
  </style>

  <body>
    {% render "head" %}
    <main class="home_main">
      <h1>Andrew Judd</h1>
    </main>
  </body>

</html>